.presentation {
  max-width: 70%;
  margin-bottom: 20px;
  padding: 50px;
  text-align: justify;
}

.presentation h1 {
  color: #63105b;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

.presentation a {
  color: #63105b;
  text-decoration: underline;
}

p,
a {
  font-size: 1.5em;
}

@media screen and (max-width: 1200px) {
  .presentation {
    max-width: 100%;
    padding: 20px;
  }
}
