.contact-info__image img {
  min-width: 50vw;
  max-height: auto;
}

.contact-info {
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contact-info__image {
  flex: 1;
  padding-right: 20px;
  align-self: stretch;
}

.contact-info__details {
  padding: 1em;
  flex: 1;
}

.contact-info h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #63105b;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-info p,
.contact-info__details__item span {
  font-size: 1.25em;
}

.contact-info__details__item {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}

.contact-info__details__item img {
  margin-right: 10px;
  max-width: 24px;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .contact-info h2 {
    font-size: 26px;
  }
  .contact-info p,
  .contact-info__details__item span {
    font-size: 20px;
  }
  .contact-info__details__item {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .contact-info__details {
    padding-right: 20px;
  }
  .contact-info__image img {
    max-width: 100vw;
    max-height: 30vh;
    width: auto;
    height: auto;
  }

  .contact-info__image {
    max-height: 30vh;
  }
}

@media screen and (max-width: 1024px) {
  .contact-info h2 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
  }
  .contact-info p,
  .contact-info__details__item span {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .contact-info h2 {
    font-size: 20px;
  }

  .contact-info p,
  .contact-info__details__item span {
    font-size: 14px;
  }
  .contact-info__details {
    padding-left: 0px;
  }

  .contact-info {
    display: block;
  }
  .contact-info__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .contact-info__image {
    padding: 0;
    overflow: hidden;
  }
  .contact-info__image {
    padding: 0;
  }
  .img {
    max-height: 30vw;
    max-width: 100%;
  }
  .contact-info__details {
    padding: 1em;
  }
}

@media screen and (max-width: 551px) {
  .contact-info h2 {
    font-size: 20px;
  }
  .contact-info p,
  .contact-info__details__item span {
    font-size: 14px;
  }
  .contact-info__details {
    padding: 1em;
  }
  .contact-info__details__item {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .contact-info h2 {
    font-size: 18px;
  }
  .contact-info p,
  .contact-info__details__item span {
    font-size: 12px;
  }
  .contact-info__details {
    padding: 1em;
  }
}
