.newsletter {
  background-color: black;
  color: white;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.newsletter__container {
  display: flex;
  flex-direction: column;
}

.newsletter__title {
  margin-left: 5px;
  margin-bottom: 1.2em;
  text-transform: semi-bold;
  font-size: 1.25em;
}

.newsletter__form {
  display: flex; /* Pour aligner les éléments sur la même ligne */
}

.newsletter__input input[type="text"] {
  width: 30em;
  height: 2.5em;
  margin-right: 10px;
  border-radius: 10px 0 0 10px;
}

.newsletter__submit button {
  width: 14em;
  height: 3em;
  border-radius: 0 10px 10px 0;
  background: linear-gradient(#8e4480, #420a3d);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.newsletter__submit button:hover {
  opacity: 0.95;
}

@media screen and (max-width: 1200px) {
  .newsletter__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .newsletter__input input[type="text"] {
    width: 15em;
  }

  .newsletter__submit button {
    width: 8em;
  }
}
