.Hero-article {
  position: relative;
  height: 500px;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.Hero-article > .picture-hero-article {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Hero-article > .LogoHome {
  position: absolute;
  height: 250px;
  width: auto;
  top: 8em;
}

.Hero-article > .Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  color: white;
  position: sticky;
  height: 50px;
  width: 100vw;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Hero-article > .Navbar.scrolled {
  background-color: black;
}

.Hero-article > h1 {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  position: absolute;
  bottom: 0;
}

.container-article {
  width: 80vw;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.content-img {
  display: flex;
  justify-content: center;
}

.picture-article {
  max-width: 300px;
}

p,
.navigation,
.navigation button,
a {
  font-size: 24px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.navigation button:hover {
  text-decoration: underline;
}

.previous {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.previous p {
  text-align: left;
  margin: 0;
}

.next {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.next p {
  text-align: right;
  margin: 0;
}

.navigation button:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  p,
  .navigation,
  .navigation button,
  a {
    font-size: 20px;
  }
}
