.Hero-article {
  position: relative;
  height: 500px;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.Hero-article > .picture-hero-article {
  position: absolute; /* ou 'absolute' si vous préférez */
  top: 0;
  width: 100%;
  height: 100%; /* Ajoutez cette ligne pour que l'image occupe toute la hauteur de la div */
  object-fit: cover; /* Assure que l'image couvre toute la div sans déformation */
}

.Hero-article > .LogoHome {
  position: absolute;
  height: 250px;
  width: auto;
  top: 8em;
}
.Hero-article > .Navbar {
  position: fixed; /* ou 'absolute' si vous préférez */
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  color: white;
  position: sticky;
  height: 50px;
  width: 100vw;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Hero-article > .Navbar.scrolled {
  background-color: black;
}

/* .Hero-article > h1 {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  position: absolute;
  bottom: 0;
} */
.container-article{
  width: 80vw;
  margin: auto;
}
.container-article h1{
  text-align: center;
  color: #63105b;
  font-size: xx-large;
}

a {
    color: inherit; /* Utilise la couleur de texte par défaut */
    text-decoration: none; /* Supprime le soulignement par défaut */
  }
  
  .content-img {
    display: flex;
    justify-content: center;
  }
  
  .picture-article {
    max-width: 300px;
  }
  
  p, .navigation, .navigation button, a {
    font-size: 24px;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  
  .navigation button {
    background-color: transparent; /* Définit la couleur de fond comme transparent */
    border: none; /* Supprime les bordures */
    padding: 0; /* Supprime le rembourrage */
    font-size: inherit; /* Utilise la taille de police par défaut */
    color: inherit; /* Utilise la couleur de texte par défaut */
    cursor: pointer; /* Définit le curseur comme pointer */
    outline: none; /* Supprime l'effet de focus */
  }
  
  .navigation button:hover {
    text-decoration: underline; /* Ajoute une soulignement au survol */
  }
  
  .previous {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligne les éléments à gauche */
    width: 100%;
  }
  
  .previous p{
      text-align: left;
      margin: 0;
  }
  
  .next {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligne les éléments à droite */
    width: 100%;
  }
  
  .next p{
      text-align: right;
      margin: 0;
  }
  
  .navigation button:last-child {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 768px) {
    p, .navigation, .navigation button, a {
        font-size: 20px;
      }
  }
  